.card {
    margin-bottom: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.card > img {
    max-height: 300px; 
    object-fit: cover; 
    object-position: center;
}

.alert {
    font-size: 30px;
}